<h1>All User Posts</h1>
<h4>Create Post</h4>

<%= form_for Post.new do |f| %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new post..." %>
  </div>
  <%= f.submit "Post", method: :post %>
<% end %>

<ul>
<% @posts.each do |post| %>
<p><%= post.content %></p>

<% if post.likes.where('user_id = ?', current_user.id).length == 0 %>
<%= link_to "Like", likes_path(:id => post.id), method: :post %>
<%end%>

<p>Likes: <%= post.likes.all.count%>

<ul>
<% post.comments.each do |comment| %>
<li><%= comment.body %></li>
<% end %>
</ul>

<%= form_for Comment.new do |f| %>
    <%= f.hidden_field :post_id, :value => post.id %>
  <div class="field">
    <%= f.text_area :body, placeholder: "Comment on post" %>
  </div>

  <%= f.submit "Comment" %>
<% end %>
<% end %>
</ul>
