<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <style>
    body{
      
    }
    nav, h1:first-child{
      text-align: center;
    }
    nav ul li {
      display: inline-block;
    }
    form label{
      display: block;
    }
    form input{
      display: block;
      width: 200px;
      margin: 10px 0px;
    }

    form textarea{
      width: 200px;
      height: 100px;
      margin-bottom: 10px;      
    }
    .alert{
      text-align: center;
      font-weight: bold;
    }
    .alert.danger {
      color: red;
    }
    .alert.success {
      color: green;
    }
    </style>
  <body>
    <nav>
      <% if user_signed_in? %>
    <p>Signed in as <strong><%= current_user.email %></strong></p>
      <ul>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "All Users", users_path() %></li>
          <li><%= link_to "My Post", user_posts_path(current_user) %></li>
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "Friends Notifications", user_friendship_path() %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or
          <%= link_to "Sign in", new_user_session_path %>
      </ul>
      <% end %>
    </nav>
      <% flash.each do |name, message| %>
      <p class='alert <%= "#{name}" %>'><i><%= "#{message}" %></i></p>
    <% end %>

    <%= yield %>
  </body>
</html>
